section.retro
  .row.no-gutters
    .col-lg-4
      a.img-block(href="#", target="_blank", rel="noopener noreferrer")
        .img-block__img
          +img-picture2("", "8", "jpg", "retro bike frame")
        .img-block__logo
          +img-picture2("", "29", "png", "since 1926 bicycles logo")

    .col-lg-4
      .container
        .row
          .col
            .text-block.text-block--small
              .text-block__icon
                +img-picture2("", "11", "png", "front fork")
              h2.text-block__title retrò Bike - M. Hulot
              p.text-block__text.
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived.

      a.img-block.img-block--small(href="#", target="_blank", rel="noopener noreferrer")
        .img-block__img
          +img-picture2("", "9", "jpg", "retro bike rim")
        .img-block__logo
          +img-picture2("", "29", "png", "since 1926 bicycles logo")

    .col-lg-4
      a.img-block(href="#", target="_blank", rel="noopener noreferrer")
        .img-block__img
          +img-picture2("", "10", "jpg", "retro bike")
        .img-block__logo
          +img-picture2("", "29", "png", "since 1926 bicycles logo")
