section.vintage
  .row.no-gutters
    .col-lg-8
      a.img-block(href="#", target="_blank", rel="noopener noreferrer")
        .img-block__img
          +img-picture2("", "2", "jpg", "vintage olivia bike")
        .img-block__logo
          +img-picture2("", "27", "png", "bicycle company logo")

    .col-lg-4
      .container
        .row
          .col
            .text-block.text-block--small
              .text-block__icon
                +img-picture2("", "4", "png", "bike frame")
              h2.text-block__title Vintage Oliva
              p.text-block__text.
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived.

      a.img-block.img-block--small(href="#", target="_blank", rel="noopener noreferrer")
        .img-block__img
          +img-picture2("", "3", "jpg", "vintage olivia bike saddle")
        .img-block__logo
          +img-picture2("", "27", "png", "bicycle company logo")
