extends common/layout.pug

block title
  title YEBO Bicycles | Home

block content
  include includes/index/hero.pug
  include includes/index/new-generation.pug
  include includes/index/vintage.pug
  include includes/index/boriosa.pug
  include includes/index/retro.pug
  include includes/index/reviews.pug
  include includes/index/gallery.pug
  include includes/index/feedback.pug
